* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    45deg,
    rgb(0, 255, 191),
    rgb(192, 255, 66),
    yellow
  );
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 80vw;
  font-family: 'Inconsolata', monospace;
  margin: 0 auto;
  text-align: center;
}

h1 {
  margin-top: 2rem;
}

h2 {
  font-size: 1rem;
  font-weight: lighter;
  padding: 1rem;
  color: gray;
}

/* Header */
.score {
  font-weight: bold;
}

/* Volume button */
#btn-audio {
  background-color: transparent;
  border: none;
  color: violet;
  font-size: 2rem;
}

#btn-audio .fa-volume-xmark {
  display: none;
}

#btn-audio .fa-volume-high {
  display: block;
}

/* Modal Game Over */
.container-gameover {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-color: rgb(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  visibility: hidden;
}

.container-gameover-modal {
  background-color: white;
  height: 150px;
  width: 300px;
  margin: 15% auto;
  border-radius: 10px;
}

.content-gameover {
  display: inline-block;
  line-height: 59px;
}

/* Circles */
.container-circles {
  padding: 2rem;
  min-width: 132px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.circles {
  background-image: url(lilypad.svg);
  background-size: cover;
  margin: 1rem;
  width: 113px;
  height: 105px;
  color: transparent;
  background-color: transparent;
  /* border: 1px solid lightblue; */
  border-radius: 50%;
  /* padding: 2.5rem; */
  pointer-events: none; /* prevent clicking circles */
}

.circles.active {
  /* background-color: violet; */
  background-image: url(frog2.svg);
  filter: brightness(110%);
}

/* Buttons Start Game and Stop Game */
.btns {
  padding: 0.5rem 1rem;
  border: 1px solid rgb(189, 90, 189);
  border-radius: 10px;
  background: linear-gradient(to bottom, rgb(207, 107, 207), violet);
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

.btns:hover {
  filter: hue-rotate(250deg);
}

#btn-stop {
  display: none;
}

/* Footer */
footer .credits {
  width: 200px;
  margin: 1rem auto;
}

footer a {
  color: gray;
  font-weight: thin;
  text-decoration: none;
  font-style: italic;
  font-size: small;
}
